/* Place CSS styles here */
.main-resume{
    margin-left: 20px;
}
.main-resume h1{
    color: #461d7c;
    margin-top: 3px;
    margin-bottom: 2px;
    font-family: 'Teko', sans-serif;
}
.main-resume h2{
    color: #19258A;
    margin-bottom: 4px;
    font-family: 'Teko', sans-serif;
}
.main-resume h3{
    color:#87198A;
    margin-top: 7px;
    margin-bottom: 4px;
    font-family: 'Josefin Slab', serif;
}
.main-resume ul{
    color:#2E1B94;
    margin-top:3px;
    margin-bottom:2px;
    font-family: 'Josefin Slab', serif;
}
.main-resume p{
    color:#2E1B94;
    margin-top:0px;
    margin-bottom:0px
}
