/* Place CSS styles here */

header
{
    display:flex;
    justify-content: center;
}

.logo
{
    max-width: 70%;
}

.navigation
{
    display:flex;
    justify-content: center;
    gap: 20px;
}

.featuredarticle
{
    display:flex;
    justify-content: center;
}

h2{
  justify-content: center;
}

.featuredboard
{
display: flex;
justify-content: center;
}

.featuredboard-items
{
    display:flex;
    gap: 0.5%;
}

.featuredboard-image
{
    max-width: 10%;
}
